* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h6 {
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #fd4766 79.69%,
    #7644ff 50.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__menu {
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 40px 50px;
}
.sub__menu {
  list-style: none;
}
.sub__menu li a {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.2rem;
  margin-right: 20px;
  font-weight: 500;
  transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: red;
}
.nav-item {
  position: relative;
}
.sub__menu {
  position: absolute;
  background-color: white;
  padding: 25px;
  visibility: hidden;
  opacity: 0;
  height: auto;
  width: 240px;
  line-height: 2.5;
  border-radius: 10px;
  transition: all 0.5s;
}
.navbar-nav .nav-item:hover .sub__menu {
  opacity: 1;
  visibility: visible;
}
.logo img {
  max-width: 100%;
  max-height: 60px;
  margin-right: 10px;
}
.logo {
  font-size: 2rem;

  font-weight: 500;
}
.button__buy {
  margin: 0px 20px;
  border-radius: 40px;
  padding: 20px 45px;
  text-transform: uppercase;
  transition: all 1s;
  color: white;
  border: 1px solid #ffffff33;
  font-size: 1.2rem;
  position: relative;
  z-index: 999;
}
.button__buy:hover {
  background-color: #fd4766;
  color: white;
}
/* carousel */
.carousel-indicators li {
  border-radius: 125%;
  width: 10px;
  height: 5px;
  height: 10px;
  opacity: 0.7;
  margin-right: 10px;
}
.animate__animated.animate__slideInUp {
  animation-duration: 2000ms;
}
.carousel-caption {
  top: 33%;
}
.carousel-caption h3 {
  font-size: 120px;
  font-weight: 900;
}
.carousel-caption p {
  font-size: 40px;
  font-weight: 700;
}
.carousel-item:nth-child(1) {
  background-image: url(../img/bg-image-22.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(../img/bg-image-23.jpg);
}
.carousel-item:nth-child(3) {
  background-image: url(../img/bg-image-24.jpg);
}
.carousel-item:nth-child(4) {
  background-image: url(../img/bg-image-20.jpg);
}
.carousel-item {
  height: 700px;
  background-size: cover;
  background-position: center;
}
.btn-danger {
  width: 20%;
  height: 65px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0;
  transition: all 0.5s;
  border: 1.5px solid #fd4766;
}
.btn-danger:hover {
  background: transparent;
  color: #dc3545;
}
.button__left::before {
  content: url(../img/slick-arrow-left-small.png);
  line-height: 1;
  opacity: 1;
  position: relative;
  top: -2px;
  transition: 0.5s;
  z-index: 2;
  /* border-radius: ; */
}
.button__left {
  border-color: #f8f9fa;
  border-radius: 55px;
  width: 74px;
  height: 71px;
  transition: all 1s;
}
.button__left:hover {
  transform: translateX(-30px);
  background-color: #fd4766;
  border: 1px solid #fd4766;
}
.button__right::before {
  content: url(../img/slick-arrow-right-small.png);
  line-height: 1;
  opacity: 1;
  position: relative;
  top: -2px;
  transition: 0.5s;
  z-index: 2;
}
.button__right:hover {
  transform: translateX(30px);
  background-color: #fd4766;
  border: 1px solid #fd4766;
}
.button__right {
  border-color: #f8f9fa;
  border-radius: 55px;
  width: 74px;
  height: 71px;
  transition: all 1s;
}
.carousel-control-next {
  right: 9%;
  height: 0%;
  top: 53%;
  width: 11%;
  border-radius: 50px;
}
.carousel-control-prev {
  right: 9%;

  height: 0%;
  top: 53%;
  width: 22%;
  border-radius: 50px;
}
/* services */
#services {
  padding: 7rem 0;
}
.project {
  background-image: url(../img/bg-image-3.jpg) !important;
}
.services__title {
  text-align: center;
}
.services__title h2 {
  font-size: 4rem;
}
.services__title p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(171, 168, 168);
}
.card {
  margin-bottom: 20px;
  padding: 25px;
  background-color: #8080801f;
  transition: all 0.5s;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
}
.fa-chromecast:before {
  content: "\f838";
  margin-left: 20px;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}
.card i {
  color: rebeccapurple;
}
/* project */
.project__title {
  text-align: center;
}
.project {
  padding: 50px 0;
}
.project__title h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}
.description {
  padding-bottom: 2rem;
}
.project__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0) 50%);
  cursor: pointer;
  transition: all 1s;
}
.project__content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%); */
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
}
.project__content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  margin-bottom: 2rem;
}
.project__content:hover::before {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transform: scale(2);
  transition: all 1s;
}
.project__content:hover .content .inner .content__heading {
  transform: translateY(-62px);
  transition: all 1s;
}
.project__content:hover .content .inner .content__pp {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s;
}
.content__pp {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  margin-top: 10px;
  transform: translateY(30px);
  line-height: 1.5em;
  max-width: 80%;
  transition: opacity 0.25s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.thumnail a {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.project__content:hover .thumnail__item .thumnail {
  transform: scale(1.1);
  transition: all 1s;
}
.content .inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 2;
  width: 100%;
  transform: translateX(-50%);
}
.project__content .transparent__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.nut__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__view {
  width: 250px;
  height: 65px;
  border-radius: 35px;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0;
  background-color: #fd4766;
  border-color: #fd4766;
  border: none;
}
.button__view:hover {
  background-color: transparent;
  border: 2px solid #fd4766;
  color: #fd4766;
}
.catelogi__list h3 {
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
/* about  */
.about__content {
  padding: 10rem 0;
}
.nav-pills.my-nav {
  border: 1px solid #dee2e6;
  border-radius: 20px;
  width: 80%;
}
.nav-pills.my-nav .nav-item {
  margin-right: 30px;
}
.my-nav.nav-pills .nav-link.active {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fd4766;
}
.my-nav.nav-pills .nav-link {
  border-radius: 20px;
  color: black;
  font-weight: 600;
}
.our__support {
  margin-top: 20px;
  line-height: 3;
}
.list-style--1 li i {
  color: #fd4766;
  margin-right: 15px;
}
.list-style--1 li {
  color: rgb(117, 116, 116);
}
.our__support_1 {
  margin-top: 20px;
  line-height: 1.5;
}
.our__support_1 p {
  font-size: 1.3rem;
}
.thumnail {
  width: 97%;
}
.thumnail img {
  border-radius: 10px;
}
.about__title h6 {
  font-size: 1rem;
}
.about__title h2 {
  font-size: 3rem;
  margin: 25px 0;
  font-weight: 600;
}
.about__title P {
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.5;
}
/* testimoni */
.content__testimi h3 {
  font-size: 35px;
  line-height: 48px;
  color: #18181b;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: -16px;
  position: relative;
  z-index: 2;
}
.content__testimi p::after {
  content: "";
  position: absolute;
  width: 177px;
  height: 100%;
  left: -64px;
  top: -57px;
  background-image: url(../img/image-11.png);
  content: "";
  opacity: 1;
  background-repeat: no-repeat;
  z-index: -1;
}
.content__testimi p span {
  color: red;
  font-weight: 600;
}

.testimonial__thumb img {
  width: 100%;
}
/* latest */
#latest {
  padding: 7rem 0;
}
.latest__title {
  text-align: center;
  padding: 3rem 0;
}
.latest__title h6 {
  font-size: 1.5rem;
  font-weight: 400;
}
.title__latest {
  font-size: 3.5rem;
  padding: 1rem 0;
  font-weight: 700;
}
/* client  */
#clients {
  background-color: rgb(245, 245, 245);
  padding: 7rem 0;
}
.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.client__list li {
  flex-basis: 33.33%;
  text-align: center;
  height: 214px;
  line-height: 214px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 1s;
  border-radius: 15px;
}
.client__list li img {
  max-height: 110px;
  max-width: 150px;
}
.client__list li:hover {
  background-color: #fd4766;
  transform: scale(1.2);
  border-radius: 15px;
}
.title__client {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0;
}
.client__title {
  padding: 2rem 0;
}
.description__client {
  font-size: 18px;
  line-height: 30px;
  color: #1d1d24bf;
  font-weight: 500;
}
/* footer */
.footer__header {
  background-color: black;
  padding: 60px 0;
  color: white;
}
.footer-wrapper {
  margin: 5rem 0;
}
.footer__bor {
  border-top: 2px solid rgb(117, 116, 116);
  padding: 5rem 0;
}
.button__read {
  margin: 0px 20px;
  border-radius: 40px;
  padding: 27px 55px;
  text-transform: uppercase;
  background-color: black;
  transition: all 0.5s;
  color: white;
  font-weight: 700;
}
.button__read:hover {
  background-color: #fd4766;
  border: 1px solid #fd4766;
  color: white;
}
.ft-text p {
  padding-top: 5rem;
  font-size: 20px;
  color: #757575;
}
.ft-text p a {
  text-decoration: none;
  color: #757575;
}
.footer__link {
  font-size: 1.2rem;
  line-height: 2.5;
}
.list__icon {
  justify-content: space-around;
}
.list__icon li {
  transition: all 0.5s;
}
.list__icon li:hover {
  transform: scale(1.3);
}

.list__icon li a i:hover {
  color: white;
}
.list__icon li a i {
  color: #757575;
  transition: all 0.5s;
}
.footer__list li a {
  color: #757575;
  font-size: 16px;
  text-decoration: none;
}
.footer__list li::after {
  content: "";
  background-color: green;
  width: 0;
  height: 2px;
  display: block;
  transition: all 0.5s;
}
.footer__list li:hover::after {
  width: 30%;
}
.footer__list a:hover {
  color: #fd4766;
}
.footer__list-1 {
  color: #757575;
}
.footer__list-1 li a {
  text-decoration: none;
  color: #757575;
}
.footer__list-1 .email__list::after {
  content: "";
  background-color: #fd4766;
  width: 50%;
  height: 2px;
  display: block;
}
/* backtotop */
.backtoTop {
  background-color: transparent;
  width: 45px;
  height: 45px;
  line-height: 40px;
  display: block;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  visibility: hidden;
  color: #e62b4a;
  border-radius: 50px;
  border: 3px solid #ffffff33;
  border-color: red;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
